/* Contact-page */
.header-secondary-contact {
    height: 60vh;
    width: 100%;
    background-image: url(../assets/img/13.png);
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-title {
    width: fit-content;
      padding: 0.2rem 1rem;
      background-color: #f2733b;
      color: white;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #2157db;
  }
  label{
    color: white;
    font-size: 0.8rem;
  }
  .form-control {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
 #Contact-main svg {
     margin: 1rem 1rem 0 0 ;
      font-size: 2rem;
      color: #2157db;
  }
  .container-contact-media{
    display: none;
  }
  @media (min-width: 776px) {
    .container-contact-media{
      display: block;
    }
  }