
/* Media screen and (min-width: 992px) */
#Hero .carousel-inner .carousel-item img {
  max-width: 3000px;
}
.hero-icons__container{
  width: 160px;
  height: 160px;
}
.about-container .overlay p {
  font-size: 2.5rem;
}
.manifest-img img {
  width: 700px
}
.pack-container {
  min-width: 350px;
  max-width: 350px;
}
.bonus-circle {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
}
.bg2 {
  background-position-x: -400px;
}
.gallery__title-img{
  width: 200px;
}
.service-item{
min-width: 290px;
}
.about-manifest-img-container{
  height: 400px;
}
.cover-1{
  display: block;
}
.bb-custom-firstpage p,
.bb-custom-side p {
  font-size: 1.2rem;
}
/* .second{
  width: auto;
  height: 300px;
} */
.modal-dialog{
  width: 70% !important;
}
.modal-info{
  font-size: 1.5rem;
}
.header-secondary-portfolio, .header-secondary-services {
  height: 70vh;
  background-position-y: -190px;
}
.header-secondary-contact{
  background-position-y: -150px;

}
.header-secondary-about {
	position: relative;
    width: 100%;
	height: 90vh;
	overflow: hidden;
	background-image: url(../assets/v2_2x3.gif);
	background-size: cover;
	background-position-y: -180px;
	background-repeat: no-repeat;
  }