
/* Media screen and (min-width: 992px) */
#Hero .carousel-inner .carousel-item img {
  max-width: 3000px;
}
.hero-icons__container{
  width: 160px;
  height: 160px;
}
.about-container .overlay p {
  font-size: 2.5rem;
}
.manifest-img img {
  width: 700px
}
.pack-container {
  min-width: 350px;
  max-width: 350px;
}
.bonus-circle {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
}
.bg2 {
  background-position-x: -400px;
}
.gallery__title-img{
  width: 200px;
}
.slider {
  height: 333px;
}
.slider__card-container {
  width: 500px;
  max-height: 333px;
}
.slider__img {
  width: 500px;
}
.service-item{
min-width: 290px;
}
.about-manifest-img-container{
  height: 400px;
}