:root {
  --ac-blue: #2157db;
  --ac-orange: #f2733b;
  --ac-green: #a5bc00;
  --ac-gray: #f2e7f0;
  --ac-pink: #f7d9d5;
  --ac-light-pink: #fcf2fa;
}
* {
  margin: 0;
}
html {
  font-size: 20px;
}
.bg-ac-light-pink {
  background-color: var(--ac-light-pink);
}
.bg-ac-pink {
  background-color: var(--ac-pink);
}
.bg-ac-gray {
  background-color: var(--ac-gray);
}
.bg-ac-orange {
  background-color: var(--ac-orange);
}
.bg-ac-blue {
  background-color: var(--ac-blue);
}
.bg-ac-green {
  background-color: var(--ac-green);
}
body {
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
  color: var(--ac-blue);
}
/* body  {
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
  color: white;
  background-color: #081638;
} */
.hidden {
  overflow: hidden;
}
.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dcdcdc;
}
.preloader-animation {
  position: relative;
  width: 60px;
  height: 60px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border: solid 4px transparent;
  border-top-color: #2157db;
  border-left-color: #2157db;
  border-radius: 50%;
  animation: loader 1.2s linear infinite;
}
.loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: solid 4px transparent;
  border-top-color: #f2733b;
  border-left-color: #f2733b;
  border-radius: 50%;
  animation: loader2 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.btn-ac {
  background: transparent;
  min-width: 150px;
  font-size: 0.8rem;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-ac-first {
  color: var(--ac-orange);
  border: 1px solid var(--ac-orange);
  /* background-color: var(--ac-gray); */
}
.btn-ac-white {
  color: white;
  border: 1px solid white;
}
.btn-ac:hover {
  color: white;
  background-color: var(--ac-orange);
  border: 1px solid var(--ac-orange);
}
.btn-ac:focus {
  box-shadow: none;
  transform: translate(2px, 2px);
}
.btn-ac-about {
  background-color: var(--ac-orange);
  border-radius: 20px 20px 0 20px;
  color: white;
  width: fit-content;
  align-self: flex-end;
}
.btn-ac-about-container {
  align-self: flex-end;
  position: relative;
}
.ask {
  display: inline-block;
  margin: 0;
  padding: 0.2rem 1rem;
  width: max-content;
  font-size: 0.8rem;
  border: 1px solid var(--ac-green);
  border-radius:0px 20px 20px 20px;
  color: #a5bc00;
  background-color: white;
  z-index: 2;
}
.ask p {
  margin: 0;
}
.answer{
  display: inline;
  align-self: flex-end;
  margin: 0;
  padding: 0.2rem 1rem;
  width: max-content;
  font-size: 0.8rem;
  border: 1px solid var(--ac-orange);
  border-radius:20px 20px 0px 20px;
  color:var(--ac-orange);
  background-color: white;
  z-index: 2;
}
.answer p {
  right: 0;
  margin: 0;
}
.click-one{
  position: absolute;
  bottom: -2.5rem;
  right: 0;
}
/* .btn-ac:active {
  
} */

/* Header */

.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 999;
  color: white;
  transition: 0.2s linear;
  overflow: hidden;
}
.nav-colored {
  background-color: var(--ac-blue);
  color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}
.nav-transparent {
  background-color: transparent;
}
.nav-bar p {
  display: none;
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1001;
}
.nav-bar-logo {
  margin-right: 0.5rem;
  width: 40px;
  z-index: 1001;
}
.container-red {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
}
.wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
  right: -100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  transition: all 0.6s ease-in-out;
}
.wrapper-header {
  width: 100%;
  height: 80px;
  background-color: var(--ac-blue);
}
/* #active:checked ~ .wrapper {
  right: 0;
} */
.menu-btn {
  position: fixed;
  margin-top: 0.8rem;
  z-index: 1001;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu-btn:focus {
  box-shadow: none;
}
.menu-btn-ham1,
.menu-btn-ham2,
.menu-btn-ham3{
  background-color: white;
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  height: 3px;
  margin-bottom: 1px;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn-ham1 {
  transform: translateY(-8px);
}
.menu-btn-ham3 {
  transform: translateY(8px);
}

.close {
  z-index: 1001;
  width: 50px;
  height: 50px;
  pointer-events: none;
  transition: background-color 0.6s;
}
/* closing animation */
.showNav {
  right: 0;
}
.closeBtn2 {
  transform: scaleX(0);
}
.closeBtn1{
  transform: rotate(45deg);
}
.closeBtn3{
  transform: rotate(-45deg);
}

.nav-bar-menu-container {
  height: 90%;
  padding-left: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-250px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.2s;
}
.wrapper ul li {
  padding: 0.5rem 0 0 1.5rem;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--ac-blue);
}
.wrapper ul li a:after {
  position: absolute;
  content: "";
  transform: scaleY(0);
  z-index: 1001;
}
.wrapper ul li a:hover {
  color: #f2733b;
}
.showMenuLink {
  opacity: 1;
  transform: translateX(0px);
}


/* Hero */
#Hero {
  overflow: hidden;
}
#carouselExampleFade {
  position: relative;
}
#Hero .carousel-inner .carousel-item img {
  object-fit: cover;
  height: 90vh;
  filter: grayscale(40%);
}
.hero-animation {
  top: 10vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 12rem;
  height: 12rem;
  position: absolute;
  z-index: 2;
  animation-name: logo-hero;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes logo-hero {
  0% {
    transform: scale(0) rotate(360deg);
  }
  50% {
    transform: scale(0.6) rotate(450deg);
  }
  60% {
    transform: scale(0.5) rotate(720deg);
  }
  80% {
    transform: scale(0.5) rotate(720deg);
  }
  100% {
    transform: scale(0) rotate(860deg);
  }
}
.hero-animation img {
  width: 100%;
}
.hero-title{
  top: 60vh;
  z-index: 2;
}


/* Marquee */
#MarqueeOne {
  background-color: var(--ac-blue);
}
.marquee {
  background-color: var(--ac-blue);
  color: white;
  height: 1rem;
  font-size: 0.8rem;
}

/* .marquee,
.marquee2 {
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 50s linear infinite;
}
.marquee2 div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee2 20s linear infinite;
}
.marquee,
.marquee2 span {
  float: left;
  width: 100%;
  color: #fcf2fa;
} */

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee2 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.prueba {
  width: 200px;
  height: 200px;
  background-color: red;
}
/* BG-IMG */
.bg1{
  background-image: url(../assets/bg1.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.bg2{
  background-image: url(../assets/bg2.png);
  background-repeat: no-repeat;
  background-position-y: top ;
  background-position-x: right;
}
.bg3{
  background-image: url(../assets/bg3.png);
  background-repeat: no-repeat;
  background-position: center top ;
}
.bg4 {
  background-image: url(../assets/bg4.png);
  background-repeat: no-repeat;
  background-position: left bottom ;
  background-size: cover;
}
/* Services */
#Services {
  overflow: hidden;
}
.siemprelistas .title {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline 2px;
}


.service-item-container {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;

}
.service-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  margin-top: 2rem;
  margin-bottom: 2rem  ;
}
.service-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background-color: #f2e7f0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.service-item .icon img {
  width: 50%;
}
.service-item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  max-width: 160px;
  border-right: 1px solid var(--ac-orange);
  padding: 0 1rem 0 1rem;
}
.service-item .title {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.service-item .section-text {
  display: block;
  color: var(--ac-orange);
  text-align: right;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline 3px;
  margin: 0;
}
.section-subtitle {
  font-size: 1rem;
}
.section-text {
  font-size: 0.8rem;
}
.services-col-two {
  display: none;
}
.container-services-one img {
  display: none;
  padding-left: 2rem;
  transform: rotate(-45deg);
}
.carousel-big-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.carousel-container{
  position: relative;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 800px;
  transform-style: preserve-3d;
}
#carousel{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.pack-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  min-width: 250px;
  height: 450px;
  color: var(--ac-light-pink);
  font-size: 0.8rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: transform .4s ease;
  cursor: pointer;
}
.pack-card {
  padding: 0.5rem;
  text-align: center;
  background-color: white;
  color: #f2733b;
}
.pack-services-container {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
.pack-services {
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 0.5rem;
}
.pack-services p {
  margin-bottom: 0;
}
.yes {
  display: flex;
}
.none {
  display: none;
}
.btn-pack {
  position: absolute;
  bottom: 1rem;
  background-color: transparent;
  width: 75%;
  color: #fcf2fa;
  border: 1px solid var(--ac-light-pink);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.input-margin-start {
  margin: 0 0 0 40%;
}
#pack1:checked ~ #carousel #item4, #pack2:checked ~ #carousel #item1, #pack3:checked ~ #carousel #item2, #pack4:checked ~ #carousel #item3{
  transform: translatex(-40%) scale(.8);
  opacity: .7;
  z-index: 0;
}
#pack1:checked ~ #carousel #item2, #pack2:checked ~ #carousel #item3, #pack3:checked ~ #carousel #item4, #pack4:checked ~ #carousel #item1 {
  transform: translatex(40%) scale(.8);
  opacity: .7;
  z-index: 0;
}
#pack1:checked ~ #carousel #item1, #pack2:checked ~ #carousel #item2, #pack3:checked ~ #carousel #item3, #pack4:checked ~ #carousel #item4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#pack1:checked ~ #carousel #item3, #pack2:checked ~ #carousel #item4, #pack3:checked ~ #carousel #item1, #pack4:checked ~ #carousel #item2 {
  transform: translatex(0) scale(0);
  opacity: 1;
  z-index: -1;
}
/* 

.carousel-container {
  height: 600px;
  margin: 0;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
}

div.item {
  position: absolute;
  width: 280px;
  height: 400px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
 */

/* About */
/* 
.about-img img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}
.overlay {
  background-color: #2156db15;
  width: 100%;
  height: 100%;
  top: 0;
}
.overlay .container,
.overlay .row {
  width: 100%;
  height: 100%;
}
.about-container .overlay p {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: underline 2px solid white;
} */

.manifest-title {
  width: 100%;
  background-color: var(--ac-blue);
  color: white;
}
.manifest-title .section-title{
  color: white;
  font-size: 1.8rem;
}
.manifest-text-container {
  border: solid 2px var(--ac-blue);
  height: 240px;
  overflow: hidden;
}
.manifestExpand {
  height: auto;
}
.btn-manifest-container {
  position: relative;
  width: 100%;
}
.btn-manifest {
  position: absolute;
  right: 0;
  bottom: -28px;
  background: white;
  color: var(--ac-orange);
  border-radius: none;
  border: 1px solid var(--ac-orange);
}
.manifest-img img {
  width: 100%;
}

/* Gallery */

.modal-body img {
  width: 100%;
}
.card {
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: #fcf2fa00;
}
.card-img-top {
  border-radius: 0;
  transform: scale(1);
  transition: 4s;
}
.card-img-top:hover {
  transform: scale(1.2);
  transition: 4s;
}

/* Bonus */
#Bonus .container {
  position: relative;
}

#Bonus .container-color-orange{
  position: absolute;
  bottom: 0;
  background-color: var(--ac-orange);
  width: 100%;
  height: 70%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
  z-index: 1;
}
#Bonus .container-bonus-circle {
  position: relative;
  z-index: 2;
}
.bonus-circle {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: var(--ac-light-pink);
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  border: solid 1px var(--ac-light-pink);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.384);
}
.bonus-circle-bottom {
  position: absolute;
  bottom: 0;
  height:0;
  width: 100%;
  padding-bottom: 55%;
  border-radius: 5px 5px 0 0 ;
  background-color: var(--ac-light-pink);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
.bonus-icon-one {
  position: absolute;
  width: 30%;
  top: -10px;
  left: 34px;
}
.bonus-icon-two {
  position: absolute;
  width: 20%;
  top: 26px;
  left: 9px;
}
.bonus-icon-three {
  position: absolute;
  width: 17%;
  top: 55px;
  left: -5px;
}
.bonus-text p {
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  margin: 0;
}
.bonus-text {
  overflow: hidden;
  height: 1.2rem;
  margin: 1rem auto;
  text-align: center;
  width: 240px;
  border-bottom: 1px solid white;
}
/* Contact */

#Contact a {
  color: #f2733b;
}
/* Footer */
.footer {
  color: white;
  font-size: 0.8rem;
}
.footer .logo-footer {
  width: 60px;
}
.footer li {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline solid 1px;
}
.footer p {
  font-size: 0.8rem;
}
.footer svg {
  font-size: 1.4rem;
}
a span {
  color: var(--ac-orange);
}
/* Darck Mode */
/* .dark-mode {
  background-color: #0c1f50;
  color: var(--ac-light-pink);
}
.dark-mode a {
  color: #fcf2fa;
}
.dark-mode li a {
  color: #fcf2fa;
}
.dark-mode .menu-toggle:focus,
.menu-toggle:hover {
  border-bottom: 2px solid var(--ac-light-pink);
}
.dark-mode-border {
  border: 1px solid var(--ac-light-pink);
}
Opacity */


@media (max-width: 992px) {
  .map {
    height: 75%;
  }
  .gallery-container {
    max-width: 960px;
  }
}

@media (min-width: 576px) {
  .mirror {
    margin-top: 2rem;
  }
  .pack-container {
    min-width: 300px;
    max-width: 300px;
  }
  .bonus-circle {
    width: 70%;
    height: 0;
    padding-bottom: 70%;
  }
  .nav-bar p {
    display: inline;
  }
}
@media (min-width: 768px) {
  .bg2 {
    background-position-x: -512px;
  }
}
@media (min-width: 992px) {
  .about-container .overlay p {
    font-size: 2.5rem;
  }
  .services-col-two,
  .container-services-one img {
    display: block;
  }
  .pack-container {
    min-width: 350px;
    max-width: 350px;
  }
  .bonus-circle {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
  }
  .bg2 {
    background-position-x: -400px;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .bg2 {
    background-position-x: -300px;
  }
}
