:root {
  --ac-blue: #2157db;
  --ac-orange: #f2733b;
  --ac-green: #a5bc00;
  --ac-pink: #f7d9d5;
  --ac-light-pink: #fcf2fa;
}
* {
  margin: 0;
}
html {
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 18px;
}
.bg-light-pink {
  background-color: var(--ac-light-pink);
}
.bg-pink {
  background-color: var(--ac-pink);
}
.bg-ac-orange {
  background-color: var(--ac-orange);
}
.bg-ac-blue {
  background-color: var(--ac-blue);
}
body {
  transition: 0.3s;
  color: #2157db;
}
.btn-ac {
  background-color: transparent;
  border-radius: 20px;
  color: inherit;
  font-weight: 600;
}
.border-btn-ac {
  border: 1px solid var(--ac-blue);
}
.btn-ac-rect {
  background-color: var(--ac-blue);
  font-size: 0.8rem;
  color: white;
  border: none;
  text-transform: uppercase;
  text-decoration: underline 1px;
}
/* Header */
.header {
  height: 45px;
  z-index: 998;
}
.header-icons-container {
  position: absolute;
  right: 0;
  top: 0;
}
.header .col {
  font-size: 1.3rem;
  color: var(--ac-blue);
}
.header .col a {
  z-index: 1000;
}
.header a {
  position: relative;
  color: #2157db;
}
.header img {
  margin-top: 0.2rem;
  width: 1.3rem;
  z-index: 1000;
}
#logo-rosa-fem {
  position: absolute;
  top: 0;
  right: 0;
}
.burger-button a {
  z-index: 1000;
}
.out {
  opacity: 0;
}
.show {
  opacity: 1;
}
/* Navbar */

.sidebar-wrapper {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  width: 160px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
}

.sidebar-nav {
  position: absolute;
  top: 112px;
  width: 160px;
  margin: 0;
  padding: 1rem;
  list-style: none;
  text-align: right;
}
.sidebar-nav-item {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 1rem;
}
.sidebar-nav p {
  margin: 0;
}
.sidebar-nav li a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: underline;
}
.sidebar-brand {
  display: flex;
  border-bottom: 1px solid pink;
  margin-bottom: 1rem;
}
.sidebar-brand h1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #f2733b;
  font-weight: 600;
}

.sidebar-brand a {
  text-decoration: none;
}
.sidebar-brand a:hover {
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 160px;
  transition: all 0.4s ease 0s;
  border-left: 1px solid #fac1b9;
}

.menu-toggle {
  /* position: fixed; */
  width: 20px;
  height: 20px;
  text-align: center;
  /* background: rgba(52, 58, 64, 0.5); */
  z-index: 1000;
}
.menu-toggle:focus,
.menu-toggle:hover {
  border-bottom: 2px solid var(--ac-blue);
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

/* Hero */
#Hero {
  overflow: hidden;
}
#carouselExampleFade {
  position: relative;
}
#Hero .carousel-inner .carousel-item img {
  object-fit: cover;
  height: 90vh;
  filter: grayscale(40%);
}
.hero-animation {
  top: 35vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 12rem;
  height: 12rem;
  position: absolute;
  z-index: 2;
  animation-name: logo-hero;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes logo-hero {
  0% {
    transform: scale(0) rotate(360deg);
  }
  50% {
    transform: scale(1.4) rotate(450deg);
  }
  60% {
    transform: scale(1) rotate(720deg);
  }
  80% {
    transform: scale(1) rotate(720deg);
  }
  100% {
    transform: scale(0) rotate(860deg);
  }
}
.hero-animation img {
  width: 100%;
}
.aro {
  position: absolute;
  bottom: -190px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  z-index: 5;
  text-align: center;
}
.aro .circuloafuera {
  top: 0px;
}

/* Marquee */
.marquee {
  overflow: hidden;
  max-height: 50px;
  background-color: var(--ac-blue);
  color: white;
}
.marquee-container {
  min-width: 150vw;
  overflow: hidden;
}

/* Wheel */
#Wheel {
  width: 280px;
  height: 140px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 999;
}
.wheel-absolute {
  position: sticky;
  height: auto;
  top: 0px;
}

.wheel-container {
  position: relative;
  margin: 0 auto;
  top: -140px;
  background-color: var(--ac-light-pink);
}

.circuloafuera {
  position: relative;
  top: -140px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: solid 1px var(--ac-orange);
}
.wheel-container .circuloafuera {
  background-color: #fcf2fab6;
}
.circuloadentro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: solid 1px var(--ac-orange);
}
.circuloadentro .sunny {
  width: 200px;
  margin-bottom: 20px;
}
.circuloadentro .logo-blanco-wheel {
  position: absolute;
  width: 30%;
  top: 114px;
}
.wheel-title {
  position: absolute;
  width: 280px;
  height: 280px;
  /* top: -140px; */
  opacity: 0;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-90deg);
  transition: all 1s ease-in-out;
  z-index: 1;
}
.wheel-title img {
  max-width: 280px;
  max-height: 280px;
  border-radius: 50%;
}
.wheel-title-show {
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: rotate(180deg);
}
.wheel-title-out {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
}
/* Services */
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline 3px;
  margin: 0;
}
#services-col-one h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}
#services-col-one p {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
.client {
  opacity: 1;
  transition: 1s;
  transition-property: opacity;
}
.client-card {
  background-color: #f2733b;
  height: 80%;
  color: var(--ac-light-pink);
  font-size: 0.6rem;
}
.client-card-box-btn button {
  font-size: 1rem;
  font-weight: 600;
  border: solid 1px var(--ac-light-pink);
  background-color: var(--ac-orange);
  color: var(--ac-light-pink);
  border-radius: 0;
}
.client-card-box-btn button:hover {
  text-decoration: underline 2px solid;
}
.client-card-title {
  height: 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--ac-light-pink);
  padding: 0.2rem;
}
.client-card-img {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;
  overflow: hidden;
}
.client-card-img img {
  width: 100%;
  position: absolute;
  left: 0;
}
/* About */
.about-img img {
  width: 100%;
  object-fit: cover;
  max-height: 90vh;
}
.overlay {
  background-color: #2156db15;
  width: 100%;
  height: 100%;
  top: 0;
}
.overlay .container,
.overlay .row {
  width: 100%;
  height: 100%;
}

.about-container .overlay p {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: underline 2px solid white;
}
.manifest-container p {
  font-size: 0.8rem;
  margin-bottom: 0;
  line-height: 1.1rem;
}
.manifest-title {
  width: 100%;
  background-color: var(--ac-orange);
}
.manifest-title h2 {
  color: white;
}
#manifest-text-one {
  position: relative;
  border: solid 2px var(--ac-orange);
  color: #f2733b;
}
#btmManifest {
  position: absolute;
  right: -2px;
  bottom: -28px;
}

/* Gallery */

.modal-body img {
  width: 100%;
}
.card {
  border: 3px solid var(--ac-light-pink);
  cursor: pointer;
  border-radius: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: #fcf2fa00;
}
.card-img-top {
  border-radius: 0;
  transform: scale(1);
  transition: 4s;
}
.card-img-top:hover {
  transform: scale(1.2);
  transition: 4s;
}

/* Bonus */
#Bonus .container {
  background-color: var(--ac-orange);
  padding: 100px 0 ;
}
#Bonus .col {
  position: relative;
}
.bonus-circle {
  position: relative;
  margin: 0 auto;
  background-color: var(--ac-light-pink);
  width: 240px;
  height: 240px;
  border-radius: 120px 120px 0 0 ;
}
.bonus-icon-one {
  position: absolute;
  width: 30%;
  top: -10px;
  left: 34px;
}
.bonus-icon-two {
  position: absolute;
  width: 20%;
  top: 26px;
  left: 9px;
}
.bonus-icon-three {
  position: absolute;
  width: 17%;
  top: 55px;
  left: -5px;
}
.bonus-text p {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  margin: 0;
}
.bonus-text {
  width: 240px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
/* Footer */
.footer {
  color: #fcf2fa;
  font-size: 0.8rem;
}
.footer li {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: #fcf2fa;
}
.footer a:hover {
  text-decoration: underline solid 1px;
}
.footer svg {
  font-size: 1.4rem;
}
/* Darck Mode */
.dark-mode {
  background-color: #0c1f50;
  color: var(--ac-light-pink);
}
.dark-mode a {
  color: #fcf2fa;
}
.dark-mode li a {
  color: #fcf2fa;
}
.dark-mode .menu-toggle:focus,
.menu-toggle:hover {
  border-bottom: 2px solid var(--ac-light-pink);
}
.dark-mode-border {
  border: 1px solid var(--ac-light-pink);
}
/* Opacity */
.opacity-on-scroll {
  opacity: 0;
  transition: 4s;
}
@media (max-width: 992px) {
  .map {
    height: 75%;
  }
  .gallery-container {
    max-width: 960px;
  }
}
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url("../assets/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead h1,
.masthead .h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 576px) {
  /* .header {
    background-color: var(--ac-light-pink);
  } */
  .menu-toggle {
    display: none;
  }
  .sidebar-wrapper {
    background-color: transparent;
    text-align: end;
    position: initial;
    z-index: 999;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    transition: all 0.4s ease 0s;
    transform: translateX(0);
  }

  .sidebar-nav {
    position: relative;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
@media (min-width: 992px) {
  /* .masthead {
    height: 100vh;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 5.5rem;
  } */
  .about-container .overlay p {
    font-size: 2.5rem;
  }
  .header .col {
    font-size: 2.2rem;
  }
  .header img {
    width: 2.2rem;
  }
  /* .sidebar-nav {
    top: 160px;
  } */
}
