:root {
  --ac-blue: #2157db;
  --ac-orange: #f2733b;
  --ac-green: #a5bc00;
  --ac-pink: #f7d9d5;
  --ac-light-pink: #fcf2fa;
}
* {
  margin: 0;
}
html {
  font-size: 18px;
}
.bg-light-pink {
  background-color: var(--ac-light-pink);
}
.bg-pink {
  background-color: var(--ac-pink);
}
.bg-ac-orange {
  background-color: var(--ac-orange);
}
.bg-ac-blue {
  background-color: var(--ac-blue);
}
body {
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
  color: #2157db;
}
.btn-ac-first {
  background-color: transparent;
  border-radius: 20px;
  color: inherit;
  font-weight: 600;
  border: 1px solid var(--ac-blue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-ac:hover {
  color: white;
  background-color: var(--ac-blue);
}
.btn-ac:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-ac:active {
  box-shadow: none;
}
.btn-ac-rect {
  background-color: var(--ac-blue);
  font-size: 0.8rem;
  color: white;
  border: none;
  text-transform: uppercase;
  text-decoration: underline 1px;
}
/* Header */

.header {
  width: 100%;
  padding-top: 1rem;
  position: fixed;
  z-index: 999;
}
.header p {
  position: fixed;
  font-size: 1rem;
  display: inline;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1001;
}
.container-red {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
}
.wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: #fcf2fa;
  transition: all 0.6s ease-in-out;
}
.wrapper-header {
  width: 100%;
  height: 15%;
  background-color: var(--ac-blue);
}
#active:checked ~ .wrapper {
  right: 0;
}
.menu-btn {
  position: fixed;
  z-index: 1001;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 3px solid #fff;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1001;
  width: 50px;
  height: 50px;
  pointer-events: none;
  transition: background-color 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul {
  height: 90%;
  padding-left: 0;
  /* transform: translate(-50%, -50%); */
  list-style: none;
}
.wrapper ul li {
  padding: 0.5rem 0 0 1.5rem;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--ac-blue);
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after {
  position: absolute;
  content: "";
  transform: scaleY(0);
  z-index: 1001;
  transition: transform 0s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a img {
  width: 2rem;
}
.wrapper ul li a span {
  color: #2157db;
}
.wrapper ul li a:hover {
  color: #f2733b;
}
input[type="checkbox"] {
  display: none;
}
.wrapper-icons svg {
  color: #2157db;
  font-size: 2rem;
  margin-right: 1rem;
}
.wrapper-icons a svg:hover {
  color: #f2733b;
}
#active:checked ~ .wrapper ul li a {
  opacity: 1;
}
.wrapper ul li a {
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
  transition-delay: 0.3s;
  transform: translateX(-100px);
}

/* Hero */
#Hero {
  overflow: hidden;
}
#carouselExampleFade {
  position: relative;
}
#Hero .carousel-inner .carousel-item img {
  object-fit: cover;
  height: 90vh;
  filter: grayscale(40%);
}
.hero-animation {
  top: 35vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 12rem;
  height: 12rem;
  position: absolute;
  z-index: 2;
  animation-name: logo-hero;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes logo-hero {
  0% {
    transform: scale(0) rotate(360deg);
  }
  50% {
    transform: scale(1.4) rotate(450deg);
  }
  60% {
    transform: scale(1) rotate(720deg);
  }
  80% {
    transform: scale(1) rotate(720deg);
  }
  100% {
    transform: scale(0) rotate(860deg);
  }
}
.hero-animation img {
  width: 100%;
}
.aro {
  position: absolute;
  bottom: -190px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  z-index: 5;
  text-align: center;
}
.aro .circuloafuera {
  top: 0px;
}

/* Marquee */
#MarqueeOne {
  background-color:var(--ac-blue);
}
.marquee, .marquee2 {
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 50s linear infinite;
}
.marquee2 div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee2 20s linear infinite;
} 
.marquee, .marquee2 span {
  float: left;
  width: 100%;
  color: #fcf2fa;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes marquee2 {
  0% { left: -100%; }
  100% { left: 0; }
}

/* Wheel */
/* Services */
.container-services-one {
  background-color: var(--ac-light-pink);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
}
.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: underline 3px;
  margin: 0;
}
#services-col-one h3 {
  font-size: 1.2rem;
  margin: 0;
}
#services-col-one p {
  font-weight: 500;
  font-size: 1rem;
}
.services-col-two {
  display: none;
}
.container-services-one img {
  display: none;
  padding-left: 2rem;
  transform: rotate(-45deg);
}
.pack {
  opacity: 1;
  transition: 1s;
  transition-property: opacity;
}
.pack-container {
  background-color: #f2733b;
  color: var(--ac-light-pink);
  font-size: 0.8rem;
  height: auto;
  min-height: 300px;
}
.pack-card {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  height: 100%;
  height: 230px;
  text-align: center;
  background-color: #fcf2fa;
  color: #f2733b;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.pack-card-box-btn button {
  font-size: 1rem;
  font-weight: 600;
  border: solid 1px var(--ac-light-pink);
  background-color: var(--ac-orange);
  color: var(--ac-light-pink);
  border-radius: 0;
}
.pack-card-box-btn button:hover {
  text-decoration: underline 2px solid;
}
.pack-card-title {
  height: 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--ac-light-pink);
  padding: 0.2rem;
}
.btn-pack {
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  color: #fcf2fa;
  border: 2px solid var(--ac-light-pink);
  font-weight: 600;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* About */
.about-img img {
  width: 100%;
  object-fit: cover;
  max-height: 90vh;
}
.overlay {
  background-color: #2156db15;
  width: 100%;
  height: 100%;
  top: 0;
}
.overlay .container,
.overlay .row {
  width: 100%;
  height: 100%;
}

.about-container .overlay p {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: underline 2px solid white;
}
.manifest-container p {
  font-size: 0.8rem;
  margin-bottom: 0;
  line-height: 1.1rem;
}
.manifest-title {
  width: 100%;
  background-color: var(--ac-orange);
}
.manifest-title h2 {
  color: white;
}
#manifest-text-one {
  position: relative;
  border: solid 2px var(--ac-orange);
  color: #f2733b;
}
#btmManifest {
  position: absolute;
  right: -2px;
  bottom: -28px;
}

/* Gallery */

.modal-body img {
  width: 100%;
}
.card {
  border: 3px solid var(--ac-light-pink);
  cursor: pointer;
  border-radius: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: #fcf2fa00;
}
.card-img-top {
  border-radius: 0;
  transform: scale(1);
  transition: 4s;
}
.card-img-top:hover {
  transform: scale(1.2);
  transition: 4s;
}

/* Bonus */
#Bonus .container {
  background-color: var(--ac-orange);
  padding: 100px 0;
}
#Bonus .col {
  position: relative;
}
.bonus-circle {
  position: relative;
  margin: 0 auto;
  background-color: var(--ac-light-pink);
  width: 240px;
  height: 240px;
  border-radius: 120px 120px 0 0;
}
.bonus-icon-one {
  position: absolute;
  width: 30%;
  top: -10px;
  left: 34px;
}
.bonus-icon-two {
  position: absolute;
  width: 20%;
  top: 26px;
  left: 9px;
}
.bonus-icon-three {
  position: absolute;
  width: 17%;
  top: 55px;
  left: -5px;
}
.bonus-text p {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  margin: 0;
}
.bonus-text {
  width: 240px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
/* Footer */
.footer {
  color: #fcf2fa;
  font-size: 0.8rem;
}
.footer li {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: #fcf2fa;
}
.footer a:hover {
  text-decoration: underline solid 1px;
}
.footer svg {
  font-size: 1.4rem;
}
/* Darck Mode */
.dark-mode {
  background-color: #0c1f50;
  color: var(--ac-light-pink);
}
.dark-mode a {
  color: #fcf2fa;
}
.dark-mode li a {
  color: #fcf2fa;
}
.dark-mode .menu-toggle:focus,
.menu-toggle:hover {
  border-bottom: 2px solid var(--ac-light-pink);
}
.dark-mode-border {
  border: 1px solid var(--ac-light-pink);
}
/* Opacity */
.opacity-on-scroll {
  opacity: 0;
  transition: 4s;
}
@media (max-width: 992px) {
  .map {
    height: 75%;
  }
  .gallery-container {
    max-width: 960px;
  }
}

@media (min-width: 576px) {
  .wrapper {
    width: 50%;
  }
  .marquee div {
    animation: marquee 100s linear infinite;  
  }
  .marquee2 div {
    animation: marquee2 100s linear infinite;  
  }
}
@media (min-width: 992px) {
  .about-container .overlay p {
    font-size: 2.5rem;
  }
  .services-col-two,
  .container-services-one img {
    display: block;
  }
  .marquee div {
    animation: marquee 150s linear infinite;  
  }
  .marquee2 div {
    animation: marquee2 150s linear infinite;  
  }
}
@media (min-width: 1024px) {
  .marquee div {
    animation: marquee 200s linear infinite;  
  }
  .marquee2 div {
    animation: marquee2 200s linear infinite;  
  }
}
