.header-secondary-services {
    height: 40vh;
    width: 100%;
    background-image: url(../assets/bg3.png);
    background-position: bottom ;
    background-repeat: no-repeat;
  }
.services-main{
    overflow: hidden;
}
.item-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    padding: 1rem 1rem 0 1rem;
}
.item-description {
    font-size: 0.8rem;
    color: #2157db;
    margin-bottom: 0;
 }
