/* Media screen and (min-widht: 576px) */
#Hero .carousel-inner .carousel-item img {
    max-width: 991px;
}
.manifest-img img {
  width: 420px
}
.pack-container {
  min-width: 300px;
  max-width: 300px;
}
.header__text-logo{
  display: inline;
}
.gallery__title-img{
  width: 150px;
}
/* .slider {
  height: 220px;
} */
/* .slider__card-container {
  width: 350px;
  max-height: 220px;
}
.slider__img {
  width: 350px;
} */
.about-manifest-img-container{
  height: 250px;
}
.clients__video{
  height: auto;
  width: 100%;
  transform: translateX(0);
}
.bb-custom-firstpage p,
.bb-custom-side p {
  font-size: 1rem;
}
.portfolio__card {
  width: 90%;
  padding-top: 90%;
}