/* Media screen and (min-widht: 576px) */
#Hero .carousel-inner .carousel-item img {
    max-width: 991px;
}
.manifest-img img {
  width: 420px
}
.pack-container {
  min-width: 300px;
  max-width: 300px;
}
.header__text-logo{
  display: inline;
}
.gallery__title-img{
  width: 150px;
}
.about-manifest-img-container{
  height: 250px;
  background-image: url(../assets/img/nos_v2-35b-medium.jpg);
}
.clients__video{
  height: auto;
  width: 100%;
  transform: translateX(0);
}
.portfolio__card {
  width: 90%;
  padding-top: 90%;
}
.header-secondary-portfolio {
  background-image: url(../assets/img/portadatrab_2-medium.jpg);
}
.header-secondary-contact {
  background-image: url(../assets/img/portadacont_1-medium.jpg);
}
.header-secondary-services {
  background-image: url(../assets/img/portadaserv_3-medium.jpg);
}
.header-secondary-about {
	height: 60vh;
  }
  .bg-impact{
    background-image: url(../assets/img/about-img-1-medium.jpg);
  }
  .video-mockup{
    top: -5rem;
    }