.header {
    width: 100%;
    height: 80px;
    padding-top: 1rem;
    position: fixed;
    z-index: 999;
  }
  .header p {
    position: fixed;
    font-size: 1rem;
    display: inline;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1001;
  }
  .wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: #fcf2fa;
    transition: all 0.6s ease-in-out;
  }
  .wrapper-header {
    width: 100%;
    height: 15%;
    background-color: var(--ac-blue);
  }
  #active:checked ~ .wrapper{
    right:0;
  }
  .menu-btn{
    position: fixed;
    z-index: 1001;
    left: 86%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 3px solid #fff;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  .close {
      z-index: 1001;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background-color .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper ul {
    height: 90%;
    padding-left: 0;
    /* transform: translate(-50%, -50%); */
    list-style: none;
  }
  .wrapper ul li {
    padding: 0.5rem 0 0 1.5rem;
  }
  .wrapper ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--ac-blue);
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after {
    position: absolute;
    content: "";
    transform: scaleY(0);
    z-index: 1001;
    transition: transform 0s ease;
  }
  .wrapper ul li a:hover:after {
    transform: scaleY(1);
  }
  .wrapper ul li a img {
    width: 2rem;
  }
  .wrapper ul li a span {
    color: #2157db;
  }
  .wrapper ul li a:hover {
    color: #f2733b;
    text-decoration: underline 2px solid var(--ac-orange);
  }
  input[type="checkbox"] {
    display: none;
  }
  .wrapper-icons {
    padding: 0.5rem 0 0 1.5rem;
  }
  .wrapper-icons a svg {
    color: #2157db;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .wrapper-icons a svg:hover {
    color: #f2733b;
  }
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 0.5s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
     transition-delay: .3s;
    transform: translateX(-100px);
  }