
:root {
    --ac-blue: #2157DB;
    --ac-orange: #F2733B;
    --ac-green: #a5bc00;
    --ac-pink: #f7d9d5;
    --ac-light-pink: #fcf2fa;
}
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dark-mode {
    background-color: #0c1f50;
    color: var(--ac-light-pink);
  }
.bg-light-pink{
    background-color: var(--ac-light-pink);
}
.bg-pink{
    background-color: var(--ac-pink);
}
.Header{
    color: var(--ac-blue);
}
.Header h6{
    margin: 0;
}

/* Navbar */
 
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: var(--ac-light-pink);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: var(--ac-blue);
    padding: 15px;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: underline;
    color: var(--ac-blue);
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: underline;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: var(--ac-pink);

  }
  
  .sidebar-nav > .sidebar-brand a {
    color: var(--ac-blue);
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    background: none;
  }
  
  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  
  .menu-toggle {
    /* position: fixed; */
    width: 20px;
    height: 20pxpx;
    text-align: center;
    color: var(--ac-blue);
    /* background: rgba(52, 58, 64, 0.5); */
    z-index: 999;
  }
  .menu-toggle:focus, .menu-toggle:hover {
    border-bottom: 2px solid var(--ac-blue);
  }
  
  .btn-xl {
    padding: 1.25rem 2.5rem;
  }
  .dark-mode {
    background-color: #0c1f50;
    color: var(--ac-light-pink);
  }
  
@media (max-width: 992px) {
    .map {
      height: 75%;
    }
  }
  .masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1, .masthead .h1 {
      font-size: 5.5rem;
    }
  }
  